:root {
    --mainColor: #8e44ad;
    --secondColor: rgba(243, 221, 248, .5);
    --mainBorder: 10px;
    --mainBoxShadow: 1px 0 1rem #010;
    --mainRadius: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Asap Condensed', sans-serif;
}

.btn {
    padding: .4rem 1rem;
    border: none;
    background: var(--secondColor);
    transition: all .5s;
    border-radius: 5px;
    color: var(--mainColor);
    border: .1rem solid rgba(243, 221, 248, .8);
    text-decoration: none;
    margin: .2rem;
    width: fit-content;
}

.btn:hover {
    cursor: pointer;
    background: rgba(243, 221, 248, .8);
}