:root {
    --mainColor: #8e44ad;
    --secondColor: rgba(243, 221, 248, 0.5);
    --borderRadius: 10px;
    --boxShadow: 0 0 1rem #2d2d2d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Asap Condensed', sans-serif;
}