@import url('globals.scss');
@import url('../components/NavBar/NavBar.scss');
@import url('../components/CartWidget/CartWidget.scss');
@import url('../Container/ItemListContainer/ItemListContainer.scss');
@import url('../components/ItemList/ItemList.scss');
@import url('../components/Item/Item.scss');

#root {
    margin: 1rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background: var(--mainGreen);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 1px 0 1rem #010;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    background: var(--mainGreen);
    border-radius: 10px;
    margin-top: 2rem;
    box-shadow: 1px 0 1rem #010;
    padding: 1rem;
}