@import url('globals.scss');
@import url('../Components/NavBar/NavBar.scss');
@import url('../Components/CartWidget/CartWidget.scss');
@import url('../Components/ItemListContainer/ItemListContainer.scss');
@import url('../Components/ItemList/ItemList.scss');
@import url('../Components/Item/Item.scss');
@import url("../Components/Loading/Loading.scss");
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed&display=swap');

#root {
    margin: 1rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    background: var(--mainGreen);
    border-radius: 10px;
    margin-top: 2rem;
    box-shadow: 1px 0 1rem #010;
    padding: 1rem;
}