.card {
    background: var(--mainOrange);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 1px 5px black;
    max-height: 22rem;
    .cardImg {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        margin: .2rem .2rem 0rem .2rem;
        transition: all .4s;
    }
    .card-body {
        margin-top: .8rem;
        padding: 0 .8rem;
        display: flex;
        justify-content: space-between;
        .card-price {
            color: var(--mainColor);
            font-size: 1.5rem;
            &::first-letter{
                color: deeppink;
            }
        }
    }
    .btn-container {
        width: fit-content;
        margin: .5rem auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        text-decoration: none;
        color: var(--mainColor);
        font-weight: 700;
        .card-btn {
            width: 2rem;
            padding: .3rem;
        }
        .verMas {
            margin: 1rem .2rem;
            transition: all .4s;
        }
        .verMas:hover {
            color: deeppink;
        }
    }
    &:hover {
        box-shadow: 0rem .1rem .5rem var(--mainColor), 0rem .5rem 2rem white;
    }
    &:hover .cardImg {
        opacity: .8;
    }
}