.header {
    width: 100%;
    background: var(--secondColor);
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: var(--borderRadius);
    box-shadow: var(--boxShadow);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 2rem;
    z-index: 2;
    @media (max-width: 480px){
        flex-direction: column;
    }
    .logo {
        width: 8rem;
        transition: all 0.2s;
        img {
            text-transform: uppercase;
            width: 100%;
        }
        &:hover {
            filter: drop-shadow(0 0 0.1rem var(--mainColor));
        }
    }
    .navBar {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        @media (max-width: 480px){
            margin: 1rem 0;
        }
        .headerLink {
            margin: 0.8rem;
            color: var(--mainColor);
            font-size: 1.5rem;
            text-decoration: none;
            cursor: pointer;
        }
        .headerLink:hover {
            color: deeppink;
        }
    }
}

.active {
    background: rgba(243, 221, 248, 1);
}