.footer {
    width: 100%;
    padding: 2rem;
    box-shadow: var(--boxShadow);
    border-radius: var(--borderRadius);
    background: var(--secondColor);
    display: flex;
    justify-content: center;
    align-items: center;
        a {
            color: var(--mainColor);
            font-size: 4rem;
            transition: all 0.2s;
        }
        a:hover {
            color: deeppink;
        }
}