.aside-productos {
    display: flex;
    flex-direction: column;
    padding: .5rem;
    width: 15rem;
}

.aside-productos .aside-link {
    font-size: 1.2rem;
    margin: .5rem;
    text-decoration: none;
}