.aside-productos {
    display: flex;
    flex-direction: column;
    padding: .5rem;
    width: 15rem;
    border-radius: 10px;
    box-shadow: 1px 0 1rem #010;
}

.aside-productos .aside-link {
    font-size: 1.2rem;
    margin: .5rem;
    text-decoration: none;
}

.aside-productos .aside-link:hover {
    color: crimson;
}