.card-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 15rem);
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 1px 0 1rem #010;
    margin-left: 2rem;
    @media (max-width: 480px) {
        margin-left: 0;
    }
}